body {
    text-align: center;
}

.score-wrapper {
    background-color: #607D8B;
    color: #fff;
    width: 505px;
    font-size: 22px;
    margin: 0 auto;
    padding: 11px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.hearts,
.score {
    display: inline;
    position: relative;
}

.hearts img {
    height: 40px;
    position: absolute;
    top: -8px;
    left: -30px;
}

/* Final score message */
.result-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: none;
}

.result {
    background-color: #fff;
    padding: 50px 125px;
    border-radius: 5px;
}